                .ED {
                    padding: 20px 20px;
                    float: left;
                    width: auto;
                    border: none;
                    display: block;
                    outline: 0;
                    color: whitesmoke;
                    font-size: 30px;
                    font-family: verdana;
                    background-color: tomato;
                }
                
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    background-color: rgba(221, 217, 5, 0.911);
                }
                
                li {
                    font-family: 'Times New Roman', Times, serif;
                    float: left;
                }
                
                li a,
                .dropbtn {
                    display: inline-block;
                    color: white;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }
                
                li a:hover,
                .dropdown:hover .dropbtn {
                    background-color: coral;
                }
                
                li.dropdown {
                    display: inline-block;
                }
                
                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: transparent;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                }
                
                .dropdown-content a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    text-align: left;
                }
                
                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }
                
                .dropdown:hover .dropdown-content {
                    display: block;
                }
                
                .but-bar {
                    background-color: rgb(2, 2, 53);
                    border: none;
                    color: White;
                    padding: 20px 20px;
                    text-align: center;
                    font-size: 20px;
                    margin: 0;
                }
                
                .button {
                    background-color: rgb(2, 2, 53);
                    border: none;
                    color: rgb(248, 7, 7);
                    padding: 20px 20px;
                    text-align: center;
                    font-size: 20px;
                    margin: 0;
                    text-decoration: none;
                    cursor: pointer;
                }
                
                .button:hover {
                    color: white;
                    background-color: rgb(171, 171, 241);
                    border-top: tomato;
                    box-shadow: 0 16px 18px 0 rgb(41, 82, 41), 0px 6px 20px white;
                }